*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color:rgb(14, 14, 118) ;
  
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
a:hover{
    color: rgb(74, 73, 70);
}

header {
    position: relative;
    padding: 1.25rem 2rem;

}
.navbar, .container{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
        justify-content: space-between;
}



.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
.navbar .links{
    display: flex;
    gap: 3rem;
   
}
.action_btn{
    background-color:palevioletred;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}
.action_btn:hover{
    color: black;
}
.container{
    width: 100%;

    margin: 15rem auto;
    display: flex;
    align-items: center;
        justify-content: space-between;
}

h1{
    font-size:3rem;
    font-weight: bold;
    color: white;
}
p{
    font-size: 1.5rem;
    letter-spacing: 2cap;
    margin-top:2rem;
    color: white;
    
}
.learn{
     background-color:palevioletred;
    padding: .8rem 2rem;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
   
}
.btn{
    margin-top: 2.5rem;
}



::selection{
    background: #4158d0;
    color: #fff;
  }
  .wrapper{
    width: 380px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  }
  .wrapper .title{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    color:rgb(11, 11, 42);
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: white;
  }
  .wrapper form{
    padding: 10px 30px 50px 30px;
  }
  .wrapper form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
  }
  .wrapper form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
  }
  .wrapper form .field input:focus,
  form .field input:valid{
    border-color: #4158d0;
  }
  .wrapper form .field label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
  form .field input:focus ~ label,
  form .field input:valid ~ label{
    top: 0%;
    font-size: 16px;
    color: #4158d0;
    background: #fff;
    transform: translateY(-50%);
  }
  form .content{
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
  }
  

  form .content .pass-link{
    color: "";
  }
  form .field input[type="submit"]{
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background:#4158d0;
    transition: all 0.3s ease;
  }
  form .fields input[type="submit"]{
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background:rgb(65, 198, 234);
    transition: all 0.3s ease;
  }
  form .field input[type="submit"]:active{
    transform: scale(0.95);
    
  }

  form .fields input[type="submit"]:active{
    transform: scale(0.95);
    
  }
  .divi{
    text-align: center;
  }
  form .signin-link{
    color: #262626;
    margin-top: 20px;
    text-align: center;
  }
  form .pass-link a,
  form .signin-link a{
    color: #4158d0;
    text-decoration: none;
  }
  form .pass-link a:hover,
  form .signin-link a:hover{
    text-decoration: underline;
  }